a.menu-909, ul.links li.menu-909 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_909.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

a.menu-910, ul.links li.menu-910 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_910.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 25px;
}

a.menu-911, ul.links li.menu-911 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_911.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 25px;
}

a.menu-1021, ul.links li.menu-1021 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1021.png);
  padding-left:40px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1022, ul.links li.menu-1022 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1022.png);
  padding-left:40px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1023, ul.links li.menu-1023 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1023.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1026, ul.links li.menu-1026 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1026.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1027, ul.links li.menu-1027 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1027.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1028, ul.links li.menu-1028 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1028.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1029, ul.links li.menu-1029 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1029.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 43px;
}

a.menu-1030, ul.links li.menu-1030 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1030.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 16px;
}

a.menu-1032, ul.links li.menu-1032 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1032.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 16px;
}

a.menu-1033, ul.links li.menu-1033 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1033.png);
  padding-left:40px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1034, ul.links li.menu-1034 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1034.png);
  padding-left:40px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1035, ul.links li.menu-1035 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1035.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

