.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;}
.locale-untranslated{font-style:normal;text-decoration:line-through;}#locale-translation-filter-form .form-item-language,#locale-translation-filter-form .form-item-translation,#locale-translation-filter-form .form-item-group{float:left;padding-right:.8em;margin:0.1em;width:15em;}#locale-translation-filter-form .form-type-select select{width:100%;}#locale-translation-filter-form .form-actions{float:left;padding:3ex 0 0 1em;}.language-switcher-locale-session a.active{color:#0062A0;}.language-switcher-locale-session a.session-active{color:#000000;}
#locale-translation-filter-form .form-item-language,#locale-translation-filter-form .form-item-translation,#locale-translation-filter-form .form-item-group{float:right;padding-left:.8em;padding-right:0;}#locale-translation-filter-form .form-actions{float:right;padding:3ex 1em 0 0;}
.ds-2col-stacked-fluid > .group-header{}.ds-2col-stacked-fluid > .group-left{float:left;width:50%;}.ds-2col-stacked-fluid > .group-right{float:right;width:50%;}.ds-2col-stacked-fluid.group-one-column > .group-left,.ds-2col-stacked-fluid.group-one-column > .group-right{width:100%;float:none;}.ds-2col-stacked-fluid > .group-footer{clear:both;}
.ds-2col-stacked-fluid > .group-left{float:right;}.ds-2col-stacked-fluid > .group-right{float:left;}
