a.menu-582, ul.links li.menu-582 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_582.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}a.menu-655, ul.links li.menu-655 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_655.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}a.menu-656, ul.links li.menu-656 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_656.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 43px;
}a.menu-657, ul.links li.menu-657 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_657.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 43px;
}a.menu-658, ul.links li.menu-658 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_658.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 32px;
}a.menu-659, ul.links li.menu-659 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_659.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 32px;
}a.menu-881, ul.links li.menu-881 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_881.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}a.menu-882, ul.links li.menu-882 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/dprs_common/images/twitter-icon.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 37px;
}a.menu-883, ul.links li.menu-883 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/dprs_common/images/instagram-icon.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}a.menu-884, ul.links li.menu-884 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/dprs_common/images/youtube-icon.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}a.menu-885, ul.links li.menu-885 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/dprs_common/images/linkedin-icon.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}a.menu-888, ul.links li.menu-888 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/dprs_common/images/app-store.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 12px;
}a.menu-894, ul.links li.menu-894 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/dprs_common/images/google-play-ar.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 11px;
}a.menu-895, ul.links li.menu-895 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/dprs_common/images/app-store-ar.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 12px;
}