$white: #fff;
$pink: #C50065;
$darker-bg: #f0f2f5;
$blu: #002657;
$legoland: #FFD300;
$bollywood: #9B258E;
$motiongate: #37BEEF;
$rosa: #CB0064;

$size-22: 1.375rem;
$button: 22px;

$phone-width: 320px;
$phone-end-width: 550px;
$tablet-width: 551px;
$tablet-end-width: 1023px;
$desktop-width: 1024px;
$desktop-lg-width: 1280px;

@mixin phone {
  @media (min-width: $phone-width) and (max-width: $phone-end-width){
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: $tablet-end-width){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width){
    @content;
  }
} 

@mixin desktop-lg {
  @media (min-width: $desktop-lg-width){
    @content;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

.itinerary-page {
  &.col-sm-12 {
    float: none;
    height: 400px !important;
  }
  &.col-xs-12 {
    height: 400px !important;
  }
}

html[dir='rtl'] {
  .itinerary-content {
    .sendmessage-button-group {
      padding-left: 20px !important;
      padding-right: 20px !important;
      display: flex;
      justify-content: center;
      & > a {
        & > i{
          margin-left: 2em;
        }
        &.share-icon-left{
          float: right;
        }
        &.share-icon-right{
          float: left;
        }
        &.action-btn {
          @include desktop{
            width: 45% !important;
            float: left;
            position: relative;
            padding: .5em;
            &.active {
              float: right;
              position: relative;
              padding: .5em;
            }
          }
          @include tablet {
            width: 45% !important;
            float: left;
            position: relative;
            padding: .5em;
            height: 4em !important;
            &.active {
              float: right;
              position: relative;
              padding: .5em;
            }
          }
        }
      }
    }
  }
}

.itinerary-content {
    text-align: center;
    background-color: $white;
    .itinerary-content-header {
        padding-bottom: 1rem;
    }
    & > p {
        font-size: larger;
        @include phone {
          font-size: x-large;
        }
        &.sendmessage-title {
          text-transform: uppercase;
          @include phone {
            word-break: break-word;
          }
        }
    }

    & > h2 {
      color: $pink;
      font-size: medium;
      padding-bottom: 1rem;
      @include phone {
        word-break: break-word;
      }
    }

    & > i {
      font-size: -webkit-xxx-large;
      color: $pink;
    }

    .sendmessage-button-group {
        font-size: 0;
        text-align: center;
        display: table;
        border-spacing: 1rem 0;
        margin: auto;
        padding: 0 !important;
        padding-bottom: 2rem !important;
        background-color: $white;
        width: 40% !important;
        @include tablet {
          width: 60% !important;
        }
        @include phone {
          display: inline-block !important;
          width: 100%!important;
          padding-right: 0px !important;
        }
        & > a {
          &.share-icon-left{
            @include desktop {
              padding-right: 2rem;
            }
            @include tablet {
              padding-right: 2rem;
            }
          }
          &.share-icon-right {
            //padding-left: 2rem;
          }
          & > i {
            font-size: 17px;
            color: $pink;
            cursor: pointer;
            &:before {
              font-size: 25px;
              padding-right: 15px;
            }
            & > span {
              vertical-align: super;
              font-family: 'Klavika', serif !important;
              text-transform: uppercase;
              @include phone {
                font-size: smaller;
              }
            }
          }
          &.action-btn {
            @include tablet {
              height: 3rem;
            }
            @include phone {
              height: 3rem;
              width: 60% !important;
              margin-bottom: 1em;
              padding: 10px 0;
              display: inline-block !important;
            }
            border: 1px solid $pink;
            color: $pink;
            background-color: $white;
            word-break: break-word;
            height: 3.5rem;
            line-height: 100%;
            font-size: 1.25rem;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            -webkit-transition: all .25s;
            transition: all .25s;
            width: 30% !important;
            cursor: pointer;
            &.active {
              background-color: $pink;
              color: $white;
              text-decoration: none;
            }
          }
        }
    }
}

html[dir='rtl'] {
  @include phone {
    .region{
      &.region-content{
        .block{
          &.block-system{
            .button-group {
              padding-right: 0px !important;
              padding-left: 60% !important;
            }
          }
        }
      }
    }
  }
}

.region{
  &.region-content{
    .block{
      &.block-system{
        .button-group {
          font-size: 0;
          text-align: center;
          display: table;
          width: 100%;
          border-spacing: 1rem 0;
          padding: 4rem 0 2rem;
          background-color: $white;
          @include desktop {
            padding-right: 35%;
            padding-left: 35%;
          }
          @include tablet {
            padding-right: 25%;
            padding-left: 25%;
          }
          @include phone {
            padding-right: 60% !important;
            background-color: transparent !important;
            position: relative;
            z-index: 100;
            min-height: 130px;
          }
          & > a {
            &.action-btn {
              border: 1px solid $pink;
              color: $pink;
              background-color: $white;
              word-break: break-word;
              height: 3.5rem;
              line-height: 100%;
              width: 20%;
              font-size: 1.25rem;
              display: table-cell;
              text-align: center;
              vertical-align: middle;
              text-transform: uppercase;
              -webkit-transition: all .25s;
              transition: all .25s;
              cursor: pointer;
              margin: -0.4em 0 !important;
              @include tablet {
                height: 3rem;
              }
              @include phone {
                height: 3rem;
                width: 60% !important;
                padding: 10px 0;
                display: inline-block !important;
                position: absolute;
                &.cancel {
                  bottom: 20px;
                }
                &.nextday {
                  top: 20px;
                }
              }
              &.active {
                background-color: $pink;
                color: $white;
                text-decoration: none;
              }
            }
          }
          &.stick {
            position: fixed;
            z-index: 100;
            bottom: 0;
            top: inherit !important;
            width: 100% !important;
            background-color: $white !important;
            padding-top: 10px;
            padding-bottom: 10px;
            @include phone {
              bottom: -4px;
              padding-right: 60% !important;
            }
          }
        }

        #sticky-anchor {
          width: 100%;
        }

        #sendItineraryModal, #sendItineraryModalSuccess, #deleteItineraryModalError {
          .modal-header {
          }
          .small-modal-header {
            min-height: 16.42857143px;
            padding: 15px;
            .close {
                font-family: 'Klavika', serif;
                font-size: 42px;
                font-weight: 200;
                color: #CB0064;
                margin-top: -2px;
            }
            .modal-title {
              & > span {
                font-size: 80px;
              }
            }
            .modal-subtitle {
              color: $blu;
              text-transform: uppercase;
              font-size: 22px;
            }
          }
          .modal-dialog {
            @media (min-width: 992px){ width: 600px; }

            .modal-content {
              .modal-body {
                .row {
                  .textarea_wrap {
                    position: relative;
                    min-height: 1px;
                    text-align: center;
                    padding: 0px !important;
                    & > input {
                      &.form-control {
                        display: block;
                        width: 100%;
                        height: 61px;
                        padding: 10px;
                        font-size: 14px;
                        margin-bottom: 20px;
                        line-height: 1.42857143;
                        color: #555;
                        border: 1px solid #dedede;
                        border-radius: 0px !important;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                      }
                    }
                  }
                  .modal-buttons {
                    @include phone {
                      position: relative;
                      min-height: 1px;
                      width: 100% !important;
                      font-size: 0;
                      text-align: center;
                      display: table !important;
                      background-color: #fff;
                      padding: 0px 15px !important;
                    }
                    .cta_wrap {
                      padding-left: 0 !important;
                      padding-right: 0 !important;
                      a.action-btn {
                        border: 1px solid #c90b6e;
                        border-radius: 0px !important;
                        word-break: break-word;
                        height: 3.75rem;
                        line-height: 3;
                        width: 100%;
                        padding: 0 20px;
                        font-size: 1.25rem;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        text-transform: uppercase;
                        -webkit-transition: all .25s;
                        transition: all .25s;
                        margin: 10px auto;
                        max-width: 220px;
                        &.white {
                          background-color: #fff;
                          border: 2px solid #C80065;
                          color: #C80065;
                        }
                      }
                    }
                  }
                  .modal-desc-text {
                    color: grey;
                    &.pull-left {
                      float:left !important;
                      font-size: small;
                    }
                  }
                  .error {
                    color: red;
                    &.pull-right {
                      float:right !important;
                      font-size: small;
                    }
                  }
                }
              }
            }
          }
        }

        //TODO THEO SPECIALIZZA QUESTE CLASSI CHE SCASSANO IN GIRO - done
        .modal-pink {

          .modal-dialog {
            text-align: center;
            .modal-content {
              border-radius: 0;
              .modal-header {
                border-bottom: none;
                .close {
                  font-family: 'Klavika', serif;
                  font-size: 42px;
                  font-weight: 200;
                  color: #CB0064;
                }
              }
              .modal-body {
                h3 {
                  font-size: 40px;
                  @include phone {
                    font-size: 35px;
                    line-height: 1;
                    margin-bottom: 20px;
                  }
                }
                .restrictor {
                  padding: 0 25%;
                  @include phone {
                    padding: 0 10%;
                  }
                }
                p {
                  &.warning {
                    color: $pink;
                    line-height: 1;
                  }
                }
              }
            }
          }
          &.modal-wishlist {
            .modal-content .modal-body p {
              font-size: 150%;
            }
          }
        }
      }
    }
  }
}


html[dir='rtl'] {
  .wrapper-page {
    .content-page {
      .trip-plan-row {
        .row-left {
          float: right;
          .row-title {
            &.text-on-left {
              .textual-content {
                text-align: right;
                float: right;
                .toggle-place-btn {
                  float: left;
                }
                .result-container {
                  .result-text{
                    .result-title {
                      float: right;
                      margin: 0;
                      margin-left: 0 !important;
                      padding-right: 2em !important;
                      text-align: right;
                      width: 70% !important;
                      & > a {
                        right: inherit;
                        left: .3em !important;
                      }
                    }
                    .content {
                      float: right;
                      padding: 25px 0 0!important;
                      text-align: right;
                    }
                    & > a {
                      &.action-btn {
                        float: right;
                        width: 80%;
                        line-height: 2.4em;
                        margin-top: 50px !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .row-right {
          float: left;
          .row-title {
            &.text-on-right {
              .textual-content {
                float: left;
                .inner {
                  .inner-addon {
                    &.right-addon {
                      .icon {
                        left: 0;
                        right: inherit;
                      }
                    }
                  }
                }
                .result-container {
                  .result-text{
                    .result-title {
                      float: right;
                      margin: 0;
                      margin-left: 0 !important;
                      padding-right: 2em !important;
                      text-align: right;
                      width: 70% !important;
                      & > a {
                        right: inherit;
                        left: .3em !important;
                      }
                    }
                    .content {
                      float: right;
                      padding: 25px 0 0!important;
                    }
                    & > a {
                      &.action-btn {
                        float: right;
                        width: 70%;
                        line-height: 2.4em;
                        margin-top: 50px !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.wrapper-page {
    text-align: center;
    background-size: 100% auto;
    overflow: hidden;

    &.darker {
      background-color: $darker-bg;
      text-align: -webkit-center;
      padding-bottom: 100px;
    }
    & > a {
      @include tablet {
        height: 3rem;
      }
      @include phone {
        height: 3rem;
      }
      border: 1px solid $pink;
      color: $white;
      background-color: $pink;
      word-break: break-word;
      height: 3.5rem;
      line-height: 100%;
      width: 50%;
      font-size: 1.25rem;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      -webkit-transition: all .25s;
      transition: all .25s;
      text-decoration: none;
    }
    .content-page {
      padding-top: 50px;
      &.schedule{
        padding-top: 0;
      }
      .steps-content {
        margin-bottom: 30px;
        position: relative;
        .image-side {
          @media (min-width : 1025px) {
            padding: 0;
          }
          .inner {
            position: relative;
          }
          @include desktop {
            width: 50%;
          }
          @include phone {
            padding: 0;
          }
          @include tablet {
            //padding: 0;
          }
          img {
            position: relative;
          }
        }
        &.row {
          margin-left: 10px;
          margin-right: 10px;
          @include desktop{
            margin-left: 100px;
            margin-right: 100px;
          }
          @include phone {
            margin-left: 0;
            margin-right: 0;
          }
        }
        .group-right {
          float: right;
          @include tablet {
            position: absolute;
            right: 30%;
            top: 100%;
            float: none;
          }
        }
        .group-left {
          float: left;
          @include tablet {
            position: absolute;
            right: 30%;
            top: 100%;
            float: none;
          }
        }
        .textual-content {
          @include desktop {
            width: 50%;
          }
          @include phone {
            &.text-on-right {
              text-align: left !important;
              float: left !important;
            }
            &.text-on-left {
              text-align: left !important;
              float: left !important;
            }
          }
          &.text-on-right {
            text-align: left;
            float: right;
          }
          &.text-on-left {
            text-align: right;
            float: left;
          }
          hr {
              padding-top: 10px;
              @include tablet {
                  margin-right: auto;
                  margin-left: 0;
              }
          }
          @include tablet {
            text-align: initial;
          }
        }
        .inner {
          .border-left-next {
              border-left: 3px solid $pink;
              padding-left: 10px;
          }
          .border-right-next{
              border-right: 3px solid $pink;
              padding-right: 10px;
              @include phone {
                border-left: 3px solid $pink !important;
                padding-left: 10px !important;
                border-right: none;
              }
          }
          @include phone {
            clear: both;
          }
          h2 {
            margin: 0;
            font-weight: 300;
          }
          hr {
            border-bottom: 2px solid #cecece;
            margin-bottom: 0;
            margin-top: 0;
            border-top: none;
          }
          .content {
            padding: 20px 10px;
            p {
              font-size: 16px;
              font-weight: 300;
              &.taxonomy {
                text-transform: uppercase;
                margin-bottom: 30px;
              }
            }
          }
        }
        img {
          width: 100%;
        }
        @include phone {
          //margin-top: 25px;
          margin: 0 0 30px 0;
        }
      }

      .trip-plan-row{
        padding: 0 6em;
        @include phone {
          padding: 0;
        }
        @include tablet {
          padding: 0;
        }
        .row-left{
          float: left;
          width: 50%;
          @include phone {
            width: 100%;
            &.row{
              margin-left: 0;
              margin-right: 0;
            }
          }
          @include tablet {
            display: block !important;
          }
          @include desktop {
            display: block !important;
          }
          @include phone {
            .filterables {
              padding-right: 5px !important;
              padding-left: 5px !important;
            }
          }
        }
        .row-right{
          float: right;
          width: 50%;
          @include phone {
            display: none;
            width: 100%;
            &.row{
              margin-left: 0;
              margin-right: 0;
            }
          }
          @include tablet {
            display: block !important;
          }
          @include desktop {
            display: block !important;
          }
          @include phone {
            .filterables {
              padding-right: 5px !important;
              padding-left: 5px !important;
            }
          }
        }
        h1{
          text-transform: uppercase;
          margin: 60px;
        }
        .row-title {
          margin-bottom: 30px;
          position: relative;
          .group-right {
            float: right;
           }
          &.text-on-right {
            .textual-content {
              @include desktop {
                width: 85% !important;
              }
              @include tablet {
                width: 100% !important;
              }
              @include phone {
                width: 100% !important;
              }
              hr {
                  padding-top: 10px;
                  @include tablet {
                      margin-right: auto;
                      margin-left: 0;
                  }
                  @include phone{
                    width: 100%;
                  }
                  @include tablet {
                    width: 100%;
                  }
              }
              .inner-addon {
                position: relative;
                .icon {
                  position: absolute;
                  padding: 38px 10px;
                  pointer-events: none;
                  font-size: x-large;
                }
                &.right-addon {
                  .icon {
                    right: 0px;
                    color: $pink;
                  }
                  .search {
                    float: left;
                    margin-top: 2em;
                    margin-bottom: 2em;
                    outline: none;
                    width: 100%;
                    height: 2em;
                    cursor: pointer;
                    border: none;
                    border-radius: 30px;
                    border-color: $darker-bg;
                    background: $darker-bg;
                    padding: 0 30px;

                  }
                }
              }
              .loader{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2em;
                color: $rosa;
                cursor: pointer;
                img{
                  width:50px;
                }
              }
              text-align: right;
              float: right;
              @include desktop {
                width: 80%;
              }
              @include tablet {
                width: 100%;
              }
              @include phone {
                width: 100%;
              }
              .result-container {
                .result-text {
                  &.motiongate {
                    background-color: $motiongate;
                  }
                  &.bollywood {
                    background-color: $bollywood;
                  }
                  &.legoland {
                    background-color: $legoland;
                  }
                  &.waterpark {
                    background-color: $motiongate; //chage this later to waterpark's default bg color
                  }
                  .image-side {
                    padding: 0;
                    img {
                      &.ltr-border {
                        position: relative;
                        width: 5em;
                        height: 4.5em;
                        border-right: 4px solid $white;
                        padding-right: 10px;
                      }
                      &.rtl-border {
                        position: relative;
                        width: 5em;
                        height: 4.5em;
                        border-left: 4px solid $white;
                        padding-left: 10px;
                      }
                    }
                    @media (min-width : 1025px) {
                      //padding: 0;
                    }
                    .inner {
                      position: relative;
                    }
                    @include phone {
                      padding: 0;
                    }
                    @include tablet {
                      //padding: 0;
                    }
                  }
                  .result-title{
                    margin-left: 5.5em;
                    h3 {
                      font-size: 18px;
                      margin: 0;
                      color: $white;
                      display: inline-block;
                      width: 80%;
                      word-break: break-all;
                      font-weight: 300;
                      cursor: pointer;
                    }
                    a {
                      position: absolute;
                      top: 0.4em;
                      right: 0.3em;
                      font-size: 25px;
                      color: $white;
                      .heart {
                        width: inherit !important;
                        height: inherit !important;
                        font-size: inherit !important;
                        .icm-whishlist {
                          color: $white !important;
                        }
                        .icm-whishlis_seleted {
                          color: $pink !important;
                        }
                      }
                    }
                    h2{
                      font-size: 15px;
                      margin: 5px !important;
                      color: $white;
                    }
                  }
                  p{
                    margin-left: 1em!important;
                    margin: 0;
                  }
                  text-align: left;
                  width: 100%;
                  padding: 20px;
                  margin-bottom: 20px;
                  .content {
                    padding-top: 50px;
                    padding-bottom: 10px;
                    padding-left: 0;
                    @include tablet {
                      padding: 40px 10px !important;
                    }
                    p {
                      font-size: 16px;
                      margin-left: 0 !important;
                      color: $white;
                    }
                  }
                  & > a {
                    &.action-btn {
                      color: $pink;
                      background-color: $white;
                      word-break: break-word;
                      height: 3rem;
                      line-height: 100%;
                      width: 90%;
                      font-size: 1.25rem;
                      display: table-cell;
                      text-align: center;
                      vertical-align: middle;
                      text-transform: uppercase;
                      -webkit-transition: all .25s;
                      transition: all .25s;
                      text-decoration: none;
                      cursor: pointer;
                      @include phone {
                        width: 10%;
                      }
                      @include tablet {
                        width: 60%;
                      }
                    }
                  }
                }
              }
            }
          }
          &.text-on-left {
            .textual-content {
              text-align: left;
              float: left;
              @include desktop {
                width: 85%;
              }
              @include tablet {
                width: 100%;
              }
              @include phone {
                width: 100%;
              }
              hr {
                padding-top: 10px;
                @include tablet {
                  margin-left: 0;
                }
                @include phone{
                  width: 100%
                }
              }

              .result-container {
                .result-text{
                  &.under-myplan{
                    background-color: $darker-bg;
                  }

                  .image-side {
                    padding: 0;
                    img {
                      &.ltr-border {
                        position: relative;
                        width: 5em;
                        height: 4.5em;
                        border-right: 4px solid $pink;
                        padding-right: 10px;
                      }
                      &.rtl-border {
                        position: relative;
                        width: 5em;
                        height: 4.5em;
                        border-left: 4px solid $pink;
                        padding-left: 10px;
                      }
                    }
                    @media (min-width : 1025px) {
                      //padding: 0;
                    }
                    .inner {
                      position: relative;
                    }
                    @include phone {
                      padding: 0;
                    }
                    @include tablet {
                      //padding: 0;
                    }
                  }
                  .result-title{
                    margin-left: 5.5em;
                    h3 {
                      font-size: 18px;
                      margin: 0;
                      display: inline-block;
                      width: 80%;
                      word-break: break-all;
                      font-weight: 300;
                      cursor: pointer;
                    }
                    a {
                      position: absolute;
                      top: 0.4em;
                      right: 0.3em;
                      font-size: 25px;
                      color: $white;
                      .heart {
                        width: inherit !important;
                        height: inherit !important;
                        font-size: inherit !important;
                        .icm-whishlist {
                          color: $white !important;
                        }
                        .icm-whishlis_seleted {
                          color: $pink !important;
                        }
                      }
                    }
                    h2{
                      font-size: 15px;
                      margin: 5px !important;
                    }
                  }
                  p{
                    margin-left: 1em!important;
                    margin: 0;
                  }
                  text-align: left;
                  width: 100%;
                  padding: 20px;
                  margin-bottom: 20px;
                  .content {
                    padding-top: 50px;
                    padding-bottom: 10px;
                    padding-left: 0;
                    p {
                      font-size: 16px;
                      margin-left: 0 !important;
                    }
                  }
                  & > a {
                    &.action-btn {
                      color: $pink;
                      background-color: $white;
                      word-break: break-word;
                      height: 3rem;
                      line-height: 100%;
                      width: 90%;
                      font-size: 1.25rem;
                      display: table-cell;
                      text-align: center;
                      vertical-align: middle;
                      text-transform: uppercase;
                      -webkit-transition: all .25s;
                      transition: all .25s;
                      cursor: pointer;
                      &.active {
                        background-color: $pink;
                        color: $white;
                        text-decoration: none;
                      }
                      @include phone {
                        width: 10%;
                      }
                      @include tablet {
                        width: 60%;
                      }
                    }
                  }
                }
              }
            }
          }
          .inner {
            @include phone {
              clear: both;
            }
            h2 {
              margin: 0;
              font-weight: 400;
              &.left-side-title {
                color: $pink;
                display: inline-block;
              }
              &.right-side-title {
                color: $blu;
                display: inline-block;
              }
            }
            .toggle-place-btn {
              color: $white;
              &.motiongate {
                background-color: $motiongate; 
              }
              &.bollywood {
                background-color: $bollywood;
              }
              &.legoland {
                background-color: $legoland;
              }
              &.waterpark {
                background-color: $motiongate;
              }
              word-break: break-word;
              height: 3rem;
              line-height: 100%;
              width: 35%;
              font-size: 1.2rem;
              vertical-align: middle;
              text-transform: uppercase;
              -webkit-transition: all .25s;
              transition: all .25s;
              cursor: pointer;
              padding: 7px;
              float: right;
              padding-left: 10px;
              padding-right: 10px;
              display: table;
              @include tablet {
                display: none;
              }
              @include desktop {
                display: none;
              }
              & > i {
                display: table-cell;
                vertical-align: -webkit-baseline-middle;
                &.icm-arrow-right {
                  color: $white;
                  position: absolute;
                  right: 15px;
                  font-size: xx-large;
                }
                &.icm-arrow-left {
                  color: $white;
                  position: absolute;
                  left: 15px;
                  font-size: xx-large;
                }
              }
              & > div {
                width: 70%;
                display: table-cell;
              }
            }
            .toggle-plan-btn {
              color: $pink;
              background-color: $darker-bg;
              word-break: break-word;
              height: 3rem;
              line-height: 100%;
              width: 35%;
              font-size: 1.2rem;
              vertical-align: middle;
              text-transform: uppercase;
              -webkit-transition: all .25s;
              transition: all .25s;
              cursor: pointer;
              padding: 7px;
              float: left;
              padding-left: 10px;
              padding-right: 10px;
              display: table;
              @include tablet {
                display: none;
              }
              @include desktop {
                display: none;
              }
              & > i {
                display: table-cell;
                vertical-align: -webkit-baseline-middle;
                &.icm-arrow-left{
                  color: $pink;
                  position: absolute;
                  left: 15px;
                  font-size: xx-large;
                }
              }
              & > div {
                width: 70%;
                float: right;
                display: table-cell;
              }
            }
            hr {
              border-bottom: 2px solid #cecece;
              margin-bottom: 10px;
              margin-top: 0;
              border-top: none;
              @include phone {
                width: 100%;
              }
            }
            .discover-nav-container {
              margin: 0;
              @include phone {
                margin: 0;
              }
              .block-nav {
                text-align: center;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 200;
                padding: 0;
                background-repeat: no-repeat;
                background-position: center 25px;
                @include tablet {
                  padding: 0;
                }
                a {
                  //color: $pink;
                }
                i.icon:before {
                  font-size: 55px;
                  color: $blu;
                }
                i + div {
                  color: $blu;
                }
                div {
                  font-size: small;
                  @include tablet {
                    font-size: x-small;
                  }
                  @include phone {
                    font-size: x-small;
                  }
                }

                @include tablet {
                  font-size: 18px;
                  min-width: 20px;
                  div {
                    display: none;
                  }
                }
                @include phone {
                  padding: 10px 0;
                  min-width: 20px;
                  div {
                    display: none;
                  }
                }
                &.zactive {
                  background-color: $pink;
                  i:before, i + div {
                    color: $white;
                  }
                  @include phone {
                    div {
                      display: block;
                    }
                  }
                  @include tablet {
                    div {
                      display: block;
                    }
                  }
                }
              }
            }
          }
          @include phone {
            //margin-top: 25px;
            margin: 0 0 30px 0;
          }
        }
      }
      @include phone {
        //padding-top: 60px;
      }
    }
  
  .mapplic-tooltip {
    @include border-radius(0px);
    .mapplic-tooltip-triangle {
      /*margin-left: -40%;
      margin-bottom: -7px;
      border-width: 8px 10px 0;*/
      border-width: 22px 28px 0;
      margin-left: -28px;
      border-color: #ed7800 transparent transparent transparent;
      bottom: -12px;
      @include phone{
        display: none;
      }
    }
    .mapplic-tooltip-title {
      text-transform: uppercase;
      font-size: 20px;
      color: $blu;
      margin: 0 !important;
    }
    @include phone {
      max-width: 180px;
      height: 120px !important;
      z-index: 2;
    }
  }

  .mapplic-element {
    min-height: 500px !important;
    margin-bottom: 0px !important;
    @include phone {
      min-height: 0 !important;
    }
    .mapplic-container {

      /*width: 100% !important;
      height: 100% !important;*/

      .mapplic-map {
        .mapplic-layer {
          .mapplic-pin {
            &.zones {
              background: url(../images/pin-attr.png) no-repeat !important;
              width: 51px !important;
              height: 60px !important; 
            }
            &.attractions {
              background: url(../images/pin-attr.png) !important;
              width: 51px !important;
              height: 60px !important; 
            }
            &.dining {
              background: url(../images/pin-din.png) !important;
              width: 51px !important;
              height: 60px !important; 
            }
            &.events {
              background: url(../images/pin-ev.png) !important;
              width: 51px !important;
              height: 60px !important; 
            }
          }
        }
        top: 0px !important;
      }
      .mapplic-zoom-buttons {
        top: 40px;
        a {
          background-color: $pink;
          background-size: 18px auto;
          height: 50px;
          width: 50px;
          @include border-radius(0px);
          border-width: 0;
          margin: 1px;
          &.mapplic-zoomin-button {
            background-image: url(../images/map-plus.fw.png);
          }
          &.mapplic-zoomout-button {
            background-image: url(../images/map-minus.fw.png);
          }
        }
      }
    }
  }


  #favModal {
    .modal-header {
      height: 50px;
    }
    a.action-btn {
      display: block;
      margin: 0 auto;
      font-size: 150%;
      width: 80%;
      padding: 10px;
      &.white {
        background-color: #fff;
        border: 2px solid #C80065;
        color: #C80065;
      }
    }
    .modal-dialog {
      @media (min-width: 992px) { width: 780px; }    
      
      p {
        margin-bottom: 30px;
      }
    }
  }

  //TODO THEO SPECIALIZZA QUESTE CLASSI CHE SCASSANO IN GIRO - done
  .modal-pink {

    .modal-dialog {
      text-align: center;
      .modal-content {
        border-radius: 0;
        .modal-header {
          border-bottom: none;
          .close {
            font-size: 40px;
            color: $pink;
            opacity: 1;
          }
        }
        .modal-body {
          padding-bottom: 30px;
          h3 {
            font-size: 40px;
            @include phone {
              font-size: 35px;
              line-height: 1;
              margin-bottom: 20px;
            }
          }
          .restrictor {
            padding: 0 25%;
            @include phone {
              padding: 0 10%;
            }
          }
          p {
            &.warning {
              color: $pink;
              line-height: 1;
            }
          }
        }
      }
    }
    &.modal-wishlist {
      .modal-content .modal-body p {
        font-size: 150%;
      }
    }
  }
}

#mapplic {
  @include tablet {
    height: 0px !important;
  }
  
  @include desktop {
    height: 0px !important;
  }
    
  .mapplic-hovertip {
    padding: 6px 10px 15px;
    margin-top: -23px !important;
    margin-left: 51px !important;
    background: #fff;
    box-shadow: none;
    .mapplic-tooltip-title {
      color: $pink;
    }
  }
  .mapplic-tooltip {
    .mapplic-tooltip-content {
      .mapplic-tooltip-description {
        padding-bottom: 20px;
        padding-right: 20px;
        p {
          padding-left: 30px;
        }
      }
    }
  }
}

.map-info-wrapper {

  position: absolute;
  right: 0;
  @include desktop {
    right: 60px !important;
  }
  @include phone {
    position: static;
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  @include tablet {
    position: static;
    padding: 5px;
    width: 445px;
    margin: 0 auto;
    right: auto;
    margin-bottom: 50px;
  }
  .map-info {
    background-color: $pink;
    color: #fff;
    text-align: right;
    float: right;
    clear: both;
    height: 50px;
    margin-bottom: 10px;
    @include phone {
      min-width: 140px;
      clear: none;
      margin: 5px;
      &#ticket {
        width: 290px;
        a {
          width: 100%;
          text-align: center;
        }
      }
    }
    @include tablet {
      clear: none;
      margin: 5px;
    }
    &.hover-me {
      background-color: #000;
    }
    &.opened {
      .hidden-row {
        .main {
          padding-left: 13px;
        }
      }
    }
    span, a {
      display: inline-block;
      float: right;
      color: #fff;
      margin-top: 10px;
      &:hover, &:focus {
        text-decoration: none;
      }
      &.visible {
        width: 135px;
        text-align: center;
        font-size: 20px;
        line-height: 1.5em;
        &.two-rows {
          line-height: 0.8em;
          margin-top: 5px;
        }
      }
      &.legend {
        width: 100%;
        display: block;
        clear: both;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0;
      }
    }
    .hidden-row {
      position: relative;
      height: 40px;
      overflow: hidden;
      display: none;
      line-height: 2em;
      padding-left: 30px;
      .main {
        text-transform: uppercase;
        span {
          display: inline-block;
          margin: 0 30px;
          text-transform: none;
        }
      }
    }

  }
  .map-info#temperature {
    position: relative;
    padding-left: 30px;
    &.opened {
      .visible {
        &:before {
          transform: rotate(0deg);
        }
      }
    }
    .visible {
      // background-image: url(../images/icon_temperature.fw.png);
      background-repeat: no-repeat;
      padding-left: 35px;
      background-size: 25px;
      background-position: 7px 0;
      width: 105px;
      &:before {
        content: " ";
        background: url(../images/slider-next.fw.png) #000 0 center no-repeat;
        height: 40px;
        width: 20px;
        left: 10px;
        bottom: 0;
        top: 0;
        margin: auto;
        transform: rotate(180deg);
        cursor: pointer;
        position: absolute;
        transition: .2s all ease-in-out;
      }
      .icons-temp {
        position: absolute;
        right: 72px;
        top: 8px;
      }
    }
  }
}

html[dir='rtl'] {
  .map-info-wrapper {
    left: 40px;
    right: auto !important;
    @include desktop{
      left: 35px !important;
      right: auto !important;
    }
    .icons-metro{
      left: 65px;
      right: auto !important;
    }
    .map-info#temperature,
    .map-info#public-transport {
      padding-right: 30px;
      padding-left: 0;
      &.opened {
        .visible {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
      .visible {
        padding-right: 35px;
        padding-left: 0;
        background-position: 7px 0;

        &:before {
          background: url(../images/slider-next.fw.png) #000 0 center no-repeat;
          right: 10px;
          left: auto;
          transform: rotate(0deg);
        }
        .icons-temp {
          left: 60px !important;
          right: auto;
        }
      }
    }
    .map-info {
      float: left;
      .hidden-row{
        padding-left: 0px;
        padding-right: 60px;
      }
      &.opened {
        .hidden-row {
          .main {
            padding-right: 13px;
            padding-left: 0;
          }
        }
      }
      span, a {
        float: left;
      }
    }
  }
}

html[dir='rtl'] {
  @include phone {
   .day-slider-header {
      #park-selection-container-day1,
      #park-selection-container-day2,
      #park-selection-container-day3,
      #park-selection-container-day4 {
        .button-group {
          padding-left: 58% !important;
          padding-right: 0 !important;
        }
      }
    } 
  }
}

.day-slider-header {
    #park-selection-container-day1,
    #park-selection-container-day2,
    #park-selection-container-day3,
    #park-selection-container-day4 {
      margin-bottom: 2em;
      text-align: -webkit-center;
      &.closed {
          display: none;
      }
      .container {
        text-align: center;
        @include phone {
          margin-left: auto;
          margin-right: auto;
          padding-right: 0;
          padding-left: 0;
        }
        & > h2 {
            padding-bottom: 1.5em;
        }
        & > div {
          font-size: 3em;
          color: $pink;
          text-transform: uppercase;
          line-height: 100%;
          padding-bottom: 0.5em;
          @include phone {
            font-size: 2em;
          }
        }
        .park-list-container {
          display: inline-block;
          .park-list {
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            width: 200px;
            height: 150px;
            padding: 0 20px;
            cursor: pointer;
            color: $blu;
            @include phone {
              padding: 0 10px;
            }
            .park-name {
              font-size: medium;
              color: $blu;
              display: block;
              text-transform: none;
              @include phone {
                font-size: xx-small;
              }
            }
            & > span {
              &.selected {
                color: $white;
              }
            }
            &.motiongate{
              &.day1{
                 background: url(../images/01_first_bubble_motiongate.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day2{
                 background: url(../images/02_second_bubble_motiongate.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day3{
                 background: url(../images/03_third_bubble_motiongate.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day4{
                 background: url(../images/04_fourth_bubble_motiongate.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              @include phone {
                background-size: 2.6em 2.6em !important;
              }
            }
            &.bollywood{
              &.day1{
                 background: url(../images/05_first_bubble_bollywood.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day2{
                 background: url(../images/06_second_bubble_bollywood.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day3{
                 background: url(../images/07_third_bubble_bollywood.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day4{
                 background: url(../images/08_fourth_bubble_bollywood.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              @include phone {
                background-size: 2.6em 2.6em !important;
              }
            }
            &.legoland{
              &.day1{
                 background: url(../images/09_first_bubble_legoland.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day2{
                 background: url(../images/10_second_bubble_legoland.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day3{
                 background: url(../images/11_third_bubble_legoland.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day4{
                 background: url(../images/12_fourth_bubble_legoland.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              @include phone {
                background-size: 2.6em 2.6em !important;
              }
            }
            &.waterpark{
              &.day1{
                 background: url(../images/13_first_bubble_legoland_water_park.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day2{
                 background: url(../images/14_second_bubble_legoland_water_park.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day3{
                 background: url(../images/15_third_bubble_legoland_water_park.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              &.day4{
                 background: url(../images/16_fourth_bubble_legoland_water_park.png) transparent 0 center no-repeat;
                 background-position: center;
              }
              @include phone {
                background-size: 2.6em 2.6em !important;
              }
            }
          }
        }
      }
      .button-group {
        font-size: 0;
        text-align: center;
        display: table;
        border-spacing: 1rem 0;
        margin: auto;
        padding: 4rem 0 2rem !important;
        background-color: $white;
        @include desktop {
          width: 35% !important;
        }
        @include tablet {
          width: 50% !important;
        }
        @include phone {
          display: inline-block !important;
          padding-right: 60% !important;
          background-color: transparent !important;
          position: relative;
          min-height: inherit;
        }
        & > a {
          &.action-btn {
            border: 1px solid $pink;
            color: $pink;
            background-color: $white;
            word-break: break-word;
            height: 3.5rem;
            line-height: 100%;
            width: 35%;
            font-size: 1.25rem;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            -webkit-transition: all .25s;
            transition: all .25s;
            cursor: pointer;
            margin: -0.4em 0 !important;
            &.active {
              background-color: $pink;
              color: $white;
              text-decoration: none;
              @include phone {
                 top: 0;
              }
            }
            @include phone {
              height: 3rem;
              width: 60% !important;
              margin-bottom: 1em;
              padding: 10px 0;
              display: inline-block !important;
              position: absolute;
              bottom: 0;
            }
          }
        }
      }
    }
}

.full-container{
    background: url(../images/home_bg.png) no-repeat scroll left top transparent;
    background-size: 100%;
    &.no-background{
      background: $white
    }
    @include tablet {
      background: $white;
    }
    @include phone {
      background: $white
    }
    #scrollertop {
      margin-bottom: 10px;
      margin-right: 10px;
      width: 68px;
      height: 68px;
      display: inline-block;
      position: inherit !important
    }
}

.sendmessage-background {
    background: url(../images/sfondogrigio.fw.png) top no-repeat;
    padding-bottom: 600px;
    @include phone {
      background: url(../images/sfondogrigio.fw.png) 85% no-repeat !important;
      padding-bottom: 600px !important;
      background-size: auto 25rem !important;
    }
}

html[dir='rtl'] {
  .day-slider-frame {
    .day-slider {
      ul {
        &:after {
          right: 20% !important;
        }
        li{
          a{
            @include phone {
              display: flex;
              justify-content: center;
              flex-direction: row-reverse;
            }
            &>div{
              @include phone {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.day-slider-frame {
    margin-top: 2rem;
    .day-select-header {
        padding-top: 1rem;
    }
    .day-slider {
    display: block;
    opacity: 1;
    font-size: 0;
    margin: auto;
    padding-bottom: 2.5rem;

    ul {
      list-style: none;
      position: relative;
      padding-left: 0;
      margin-bottom: 2.5rem;
      text-align: center;

      li {
        text-align: center;
        width: 23%;
        z-index: 1;
        position: relative;

        @include phone {
          width: 100%;
        }

        @include tablet {
          display: inline-block;
        }

        @include desktop {
          display: inline-block;
        }

        a {
          display: inline-block;
          font-size: 16px;
          &.blocked{
            .day-slider-txt{
              opacity: .2;
            }

          }
          @include phone {
            & > div {
              display: inline-block;
              float: right;
            }
          }
          .day-slider-txt {
            @include phone{
              padding-left: 10px;
              margin-top: 1em;
            }
            & > div {
              font-size: 1.25em;
              color: $pink;
              text-transform: uppercase;
              line-height: 100%;

              &:first-child {
                font-size: 2em;
              }
              @include phone {
                font-size: 1em  !important;
              }
            }
          }

          &:hover, &:active, &:focus {
            text-decoration: none;
          }

          &:after {
            content: '';
            display: inline-block;
            width: 2.375em;
            height: 2.375em;
            background-color: #F0F2F5;
            border-radius: 100%;
            padding-top: 2em;
            margin-top: 2em;
            @include phone {
              margin-top: 1em;
            }
          }

          &.selected {
            &:after {
              content: '';
              display: inline-block;
              background: #F0F2F5 url(../images/ticket_filter_selected.png) no-repeat center;
              background-size: contain;
            }
          }
        }
      }

      &:after {
        content: '';
        display: inline-block;
        height: .25rem;
        background-color: #F0F2F5;
        position: absolute;
        left: 15%;
        right: 15%;
        bottom: 15%;
        z-index: 0;

        @media (max-width: $phone-end-width) {
          display: none;
          /*transform: rotate(90deg);
          left: 13%;
          right: 25%;
          bottom: 50%;*/
        }
      }

      &:before {
        content: '\e91b';
        font-family: 'dpr';
        display: inline-block;
        width: 2rem;
        height: 1.6875rem;
        position: absolute;
        font-size: 40px;
        color: $pink;
        bottom: 25px;
        @media (max-width: $phone-end-width) {
          display: none;
        }
        @include tablet {
          display: none;
        }
      }
    }
  }
}

.day-select-header {
  text-align: center;
  //margin-top: 1rem;
  padding-bottom: 2rem;
  padding-top: 70px;
  font-weight: 300;
  & > p {
    color: $pink;
    font-size: $size-22;
    margin-bottom: 0;
  }

  & > h1 {
    margin-top: 0;
    position: relative;
    word-break: break-word;

    &.howlong {
      max-width: 75%;
      margin: auto;
    }

    & > a {

      &.frame-opener {
        margin-left: 2rem;
        display: inline-block;
        position: absolute;
        transition: all .2s;
        color: $pink;
        height: 40px;
        &.open {
          display: inline-block;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.hidden-pin {
  display: none !important;
}

.mapplic-tooltip-content {
   display: none !important;
}
